/*
* Noon Deliveries V1.0
* Copyright 2014, Noon Deliveries
* www.noondeliveries.com
* 13/03/2014
*/

/* #Media Queries
================================================== */
	





	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		.pending_order_list th.not, .pending_order_list td.not {display: none;}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.pending_order_list th.not, .pending_order_list td.not {display: none;}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.pending_order_list th.not, .pending_order_list td.not {display: none;}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.pending_order_list th.not, .pending_order_list td.not {display: none;}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.pending_order_list th.not, .pending_order_list td.not {display: none;}
	}