/*
* Noon Deliveries V1.0
* Copyright 2014, Noon Deliveries
* www.noondeliveries.com
* 13/03/2014
*/

/* #USER PROFILE STYLE
================================================== */


/* Friend invite */
.top_account_info{
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	padding-top: 25px;
}

.friend_invite_show{
	background: #f0f0f0;
}

ul.show_friend_user{
	margin-left: 10px;
	margin-right: 10px;
	margin-top:15px;
}

.show_friend_user li{
	margin-bottom: 25px;
}

.friend_invite_show h5{
	font-weight: bold;

	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.show_fr_img, .fr_info{
	display: inline-block;
	padding: 0;
	margin: 0;
}

.show_fr_img{
	 /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 18px; 

  /* Firefox 1-3.6 */
  -moz-border-radius: 18px; 
  
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 18px;
	  background: #000;
	  width: 35px;
	  height: 35px;
	 margin-right: 5px;
}

 .fr_info span,  .fr_info a{
 	font-size: 13px;
 }

 .invite_btn{
 	background: #c8c7c7;
 	width: 100%;
 	margin: 0;
 	height: auto;
 	text-align: center;
 	padding-top: 20px;
 }

.send_invite_all a{
	color: #fff;
	text-align: center;
	text-shadow: none;
	font-size: 14px;
	letter-spacing: 1px;
	padding-left: 20px;
	padding-right: 20px;
}


/* User Information show */



.user_information h5{
	font-weight: bold;
	padding-bottom: 15px;
}

.user_profile_img span{
	background: #000;
	width: 100%;
	height: 100px;
	display: block;
}

.edit_image.button{
	width: 100%;
	margin-top: 10px;
	text-transform: none;
	background:rgb(240,240,240);
	border: 1px solid rgb(240,240,240);
	box-shadow: inset 0px 0px 0px #9e8d84, 0px 3px 0px 0px #cfcfcf;
	font-size: 12px;
	text-align: center;
	padding: 5px 10px;
	
}
.edit_image.button a{
	color: #676767;
	font-weight: 300;
}

ul.user_info{
	color: #b5b5b5;
	font-weight: bold;
	font-size: 13px;
}

ul.user_info li span{
	font-weight: normal;
	color: #3d3d3d;
	margin: 0;
	padding: 0;
	float: right;
	width: 180px;
	margin-right: 0px;
	display: block;
}

ul.user_contact_info{
	font-size: 13px;
	font-weight: bold;
	color: #b5b5b5;
}

ul.user_contact_info span{
	font-weight: normal;
	color: #3d3d3d;
	margin: 0;
	padding: 0;
	float: right;
	width: 210px;
	margin-right: 0px;
	display: block;
}

ul.del_address{
	font-size: 13px;
	color: #b5b5b5;
	font-weight: bold;
}

.prime{
	padding-top: 10px;
}

ul.del_address li span{
	float: right;
	text-align: left;
	display: block;
	width: 150px;
	margin-right: 0px;
	color: #3d3d3d;
	font-weight: normal;
}

.ssec ul.del_address li span{
	float: right;
	text-align: left;
	display: block;
	width: 130px;
	margin-right: 0px;
	color: #3d3d3d;
	font-weight: normal;
}

.ssec ul.del_address li {


}

.ssec ul.del_address{
	font-size: 13px;
	color: #b5b5b5;
	font-weight: bold;
}

.ssec ul{
	margin:0;
	padding:0;
}

.ssec{
	border-left: 1px solid #ddd;
	padding-left: 20px;
	overflow: hidden;
	margin-bottom: 18px;
	padding-bottom: 0;
	padding-top: 10px;
}

.ssec-two{
	margin-top: 50px;
}

.ssec-two li{
	
}

.data_deliver_address{
	border-top: 1px solid #ddd;
	padding-top: 15px;
}

.data_deliver_address h6{
	color: #3274f4;
	font-weight: bold;
}

.basic{
	padding-left: 10px;
}


/* Bottom profile info */


.bottom_section_user_content{
	padding-top: 25px;
	overflow: hidden;
	margin-top: 50px;
}

.bottom_section_user_content h5{
	font-weight: bold;	
	color: #3274f4;
}

.side_options_user{
	border: 1px solid #ddd;
	margin:0;
}

.side_options_user span{
	color: #ce382a;
	background: url('../images/layout-img/points.png') center left no-repeat;
	padding-left: 15px;
	margin:0 5px;
}

.points{
	
	font-weight: bold;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-top: 15px;
}

.button_place_new_order{
	text-align: center;
	border-bottom: 1px solid #ddd;
}

.rate_latest_order{
	font-weight: bold;
	border-bottom: 1px solid #ddd;
}

.rate_latest_order a{
	background: url('../images/layout-img/star.png') 20% 50% no-repeat;
	padding-left: 60px;
	padding-top: 20px;
	padding-bottom: 20px;
	display: block;
	margin:0;
	color: #000;
}

.rate_latest_order a:hover{
	display: block;
	background: url('../images/layout-img/star.png') #f0f0f0 20% 50% no-repeat;
	color: #ce382a;
}

.unsubscribe{
	text-align: center;
	padding: 10px 10px;
	font-size: 13px;
}

.unsubscribe p{
	margin: 0;
}

.unsubscribe a{
	color: #d4d4d4;
	font-weight: bold;
	margin:0;
}

.unsubscribe a:hover{
	color: #ce382a;
}



/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
  width: 100%; 
  border-collapse: collapse; 
  font-size: 14px;
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: none; 
}
th { 
  background: #f0f0f0;
  color: #000; 
  font-weight: bold; 
}
td, th { 
  padding: 20px 15px; 
  border-bottom: 1px solid #ddd; 
  text-align: left; 
}

td{
	vertical-align: middle;
}

.bottom_section_user_content td a{
	font-weight: bold;
}


.pending_order_list h5{
	border-bottom:1px solid #ddd;
	padding-bottom: 20px;
}

.last_orders_list{
	margin-top: 50px;
}
.reorder.proceed.button{
	margin:5px 0;
}
.reorder.proceed.button a{
	color:#fff;
	margin:0;
	
}


.reorbt{
	margin-top:20px;
}


a.cencel_order_user{
	margin-left: 20px;
	width: 16px;
	height: 16px;
	display: block;
	float: right;
	margin-top: 5px;
	background: url('../images/layout-img/icon_close.png') 50% 50% no-repeat;
}

a.cencel_order_user:hover{
	opacity: 0,8;
}

a.order_details{
	color: #3274f4;
	text-decoration: underline;
	font-weight: normal !important;
}

a.order_details:hover{
	text-decoration: none;
}


.cencel-order.button{
	margin-top: 20px;
	background: rgb(244,244,244);
	border-bottom: 4px solid rgb(200,200,200);
	border-left: 1px solid #f4f4f4;
	border-right: 1px solid #f4f4f4;
	border-top: 1px solid #f4f4f4;
	color: rgb(206,56,42);
	padding: 12px 25px 10px 25px;
	font-weight: bold;
}

.cencel-order.button:hover{
	color: #c8c8c8;
}

.my_points{
	font-weight: bold;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-top: 15px;
	right: 0;
	position: absolute;
	margin-top:-32px;
	margin-right: 10px;
}

.my_points span{
	color: #ce382a;
	background: url('../images/layout-img/points.png') center left no-repeat;
	padding-left: 15px;
	margin:0 5px;
}

.sold{
	left:0;
	position: absolute;
	margin-left: 253px;
	margin-top:-10px;
}
.banner_redeem{
	width: 700px;
	height: 92px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.banner_redeem img{
	max-width:100%; max-height:100%;
}

.start-time{
	padding:0 ;
	background: url('../images/layout-img/menu-icons/arrow_redeem.png') no-repeat 100% 15%;
	
}

.start-time, .end-time{
	display: inline-block;
	margin-top:30px;
}
.date, ul{
	float: left;
}

.start-time{
	margin-right: 10px;
}

.date{
	font-size: 36px;
	padding-right: 5px;
}

ul.time_small li{
	font-size: 12px;
	line-height: 5px;
}

.end-time{
	margin:0;
	padding:0;
}

.date ul{
	margin:0;
	padding:0;
}

ul.time_small.start{
	padding-right: 25px;
}

.side_options_user.redeem_side{
	background: #fff;
	margin-top:20px;
	text-align: center;
}

.redeem_side h5{
	padding-top:25px;
}
